/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

  .heading {
    text-align: center;
  } 

  .container {
    padding: 3rem 1.5rem;
  }

  input[type=search] {
    margin-bottom: 1rem;
  }

  .card-container {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }